.gs{
    width: 324px;
    height: 200px;
}
.tgs{
   margin:10px 0px 10px 0px;
    display: inline-block;
}
.dwz{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 26px;
    font-weight: bolder;
    color: #76b2d3;
}
.wz{
    display: block;
    padding: 0px 10px 10px 10px;
    font-size: 16px;
    font-weight: 300;
    color: #919390;
    margin-bottom: 1em;
    line-height: 1.8em;
}