.carousel {
    height: 352px;
    width: 1250px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
.imgWrapper,.imgWrapper img {
    width: 1250px;
    height: 352px;
}

.babyTitle {
    width: 100%;
    text-align: center;
    height: 54px;
    line-height: 54px;
    margin: 20px 0;
    font-size: 36px;
    font-weight: 500;
    color: #76b2d3;
}

.babyWrapper {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.babyItem {
    width: 324px;
    height: 510x;
    border-radius: 10px;
    background-color: #7cffe0;
}

.babyItem:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.headImg{
    width: 324px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.titleWrapper{
    display: flex;
}
.titleTxt{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #76b2d3;
}
.contentTxt{
    padding: 0 14px;
    font-size: 16px;
    font-weight: 300;
    color: #919390;
    line-height: 1.8em;
}

.shapeWrapper {

}

.shapeItem {
    background-color: unset;
}

.diamond {
    width: 150px;
    height: 150px;
    background-color: red;
    transform: translate(85px, 30px) rotate(45deg);
}
.shapeContent {
    margin-top: 64px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
}

