.carousel {
    height: 352px;
    width: 1250px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
.imgWrapper,.imgWrapper img {
    width: 1250px;
    height: 352px;
}

.babyTitle {
    width: 100%;
    text-align: center;
    height: 54px;
    line-height: 54px;
    margin: 20px 0;
    font-size: 36px;
    font-weight: 500;
    font-weight: bolder;
    color: #76b2d3;
}

.babyWrapper {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.babyItem {
    width: 324px;
    height: 510x;
    border-radius: 10px;
    background-color: #7cffe0;
}

.babyItem:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}
