.population {
  width: 1000px;
  height: 1000px;
  position: relative;
}
.main{
  display: block;
  height: 260px;
  background-color: white;
  width: 1000px;
  margin-top: 10px;
  margin-left: 130px;
  margin-right: auto;
  position: relative;
  border-radius: 15px;
}
.maintitle{
  height: 250px;
  width: 260px;
  float: left;
  position: relative;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #76b2d3;
}
.mainimg{
  height: 240px;
  width: 260px;
}
.maintext{
    font-size: 18px;
  line-height: 60px;
  text-align: center;
  padding: 60px 40px 40px 40px;
}

.contentdata{
  width: 1000px;
  height: 500px;
  margin-top: 3px;
  margin-left: 130px;
  margin-right: auto;
  position: relative;
  border-radius: 15px;
}
.contenttext{
    width: 300px;
  font-size: 30px;
  color: #76b2d3;
  margin:0 auto;
    padding-bottom: 5px;
}
.contentformat{
    width: 900px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
}
.contentformatimg{
    width: 550px;
    height: 400px;
    float: left;
    border-radius: 10px;
}
.contentformattitle{
    padding-top: 35px;
    padding-left: 570px;
    padding-bottom: 25px;
    font-size: 30px;
    color: #76b2d3;
}
.contentformattext{
    padding-left: 560px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #919390;
    margin-bottom: 1em;
    line-height: 1.8em;
}
.contentformatimg2{
    padding-left: 645px;
}
.footcontent{
    width:1000px;
    height: 230px;
    margin-top: 3px;
    margin-left: 130px;
    margin-right: auto;
    position: relative;
    border-radius: 15px;
}
.footleft{
    float: left;
    height: 230px;
    width: 500px;
}
.footimg{
    height: 200px;
    width: 300px;
    margin: 20px 0px 0px 100px;
}
.footright{
    float: right;
    width: 500px;
    height: 230px;
}
.foottext{
    float: right;
    font-size: 16px;
    text-align: left;
    line-height: 40px;
    margin-top: 40px;
    margin-right: 50px;
    padding-right: 50px;
}
