.all{
    width: 1200px;
    height: 900px;
    position: relative;
}
.head{
    width: 1200px;
    height: 260px;
    text-align: center;
    margin: 0 30px;
    padding-top:7px ;
}
.tittle{
    width: 400px;
    height: 70px;
    font-size: 36px;
    color: #76b2d3;
    margin:0 auto;
    padding-left: 50px;
}
.tab{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 90px;
    margin: auto;
    margin-bottom: 20px;
}
.tabtext{
    width: 120px;
    text-align: center;
    background-color: #cccccc;
    border-radius: 50%;
    padding: 18px 0;
    cursor: pointer;
    color: white;
}
.tabtext:hover {
    background-color: #1fbbdd;;
}
.tab-text-cn {
    font-size: 14px;
    margin-bottom: 0;
    color: #fff;
    line-height: 16px;
}
.tab-text-en {
    font-size: 13px;
    margin-bottom: 0;
    color: white;
    line-height: 16px;
}
.tabcontent{
    width: 1200px;
    height: 430px;
    margin: 0 30px;
    border-radius: 15px;
    background-color: white;
}
.tabcontenttop{
    width: 500px;
    height: 60px;
    float: top;
    padding-left: 100px;
    font-size: 28px;
   font-weight: bolder;
}
.tabcontentlefta{
    width: 380px;
    height: 360px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.tabcontentright{
    width: 380px;
    height: 360px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.tabcontentleftb{
    width: 420px;
    height: 320px;
    float: left;
    text-align: left;
    line-height: 30px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.tabcontenttta{
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
}
.tabcontentttb{
    text-indent: 2em;
    font-size: 16px;
    color: #6e7477;
}